html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-sorteio {
  width: 100%;
  max-width: 700px;
  padding: 15px;
  margin: auto;
}

.form-sorteio .checkbox {
  font-weight: 400;
}

.form-sorteio .form-floating:focus-within {
  z-index: 2;
}

.form-sorteio .form-floating > .form-control,
.form-floating > .form-select textarea {
  height: 100%;
}

.form-sorteio input {
  margin-bottom: 10px;
}

.form-sorteio textarea {
  margin-bottom: 10px;
}
